<section class="footer">
    
      <div class="box-container">
   
         <div class="box">
            <h3>quick links</h3>
            <a href="/"> <i class="fas fa-angle-right"></i> home</a>
            <a href="/package"> <i class="fas fa-angle-right"></i> package</a>
            <a href="/gallary"> <i class="fas fa-angle-right"></i> Gallary</a>
            <a href="/contactus"> <i class="fas fa-angle-right"></i>Contactus</a>
         </div>
   
         <div class="box">
            <h3>extra links</h3>
            <a href="/aboutus"><i class="fas fa-angle-right"></i>Aboutus</a>
            <a href="/pp"> <i class="fas fa-angle-right"></i> privacy policy</a>
            <a href="/tc"> <i class="fas fa-angle-right"></i> terms of use</a>
            <a href="/review"> <i class="fas fa-angle-right"></i> Review Page</a>
         </div>
   
         <div class="box">
            <h3>contact info</h3>
            <a href="#"> <i class="fas fa-phone"></i> +919409329562 </a>
            <a href="#"> <i class="fas fa-phone"></i> +917016793588 </a>
            <a href="#"> <i class="fas fa-envelope"></i>krishnatravels@gmail.com  </a>
            <a href="#"> <i class="fas fa-map"></i> Ahmedabad-26,Gujrat </a>
         </div>
   
         <div class="box">
            <h3>follow us</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
         </div>
   
      </div>
   
      <div class="credit">Copyright <span>Shree Krishna Travels</span> </span> | all rights reserved! </div>
   
   </section>
   