{% extends "base.html" %}
{% block content  %}
<div class="heading" style="background:url(/static/images/header-bg-1.png) no-repeat">
    <h1>Gallary </h1>
 </div>
 
 <!-- packages section starts  -->
 
 <section class="packages">
 
    <h1 class="heading-title">Our Gallary Page</h1>
 
    <img src="/static/images/gp1.jpg" alt="">
    <img src="/static/images/gp2.jpg" alt="">
    <img src="/static/images/gp3.jpg" alt="">
    <img src="/static/images/gp5.jpg" alt="">
    <img src="/static/images/gp8.jpg" alt="">
    <img src="/static/images/gp7.jpg" alt="">
    <img src="/static/images/gp4.jpg" alt="">
    <img src="/static/images/gp3.jpg" alt="">
    <img src="/static/images/gp6.jpg" alt="" style="height: 339px; width: 509px;">
    <!-- <img src="/static/images/gp9.webp" alt=""> -->
 
    <div class="load-more"><span class="btn">load more</span></div>
 
 </section>
{% endblock %}